* {
  box-sizing: border-box;
}
body {
  background-image: url(./img/logo/logo-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.line-through{
  text-decoration: line-through;
}